/* GENERAL */
.media-box-camera-on-size {
    @apply tw-max-w-full;
}
.media-box-camera-on-position {
    @apply tw-absolute tw-justify-end tw-items-end;
}

.media-box-camera-off-size {
    @apply tw-w-full;
}

.media-box-shape-color {
    @apply tw-p-0 tw-bg-dark-blue/50 tw-rounded;
}

.report-ban-container-cam-off {
    @apply tw-items-center tw-absolute tw-justify-end;
}

.media-box-screensharing-size {
    @apply tw-w-full;
}

.scale-y-min {
    transform: scaleY(0.1);
}

.cameras-container{
    @apply tw-max-h-[46vh] tw-pointer-events-auto tw-overflow-x-hidden tw-overflow-y-auto tw-flex tw-z-[150] tw-gap-5 tw-self-end tw-relative;
    @media (min-height: 500px) {
        @apply tw-max-h-[80vh];
    }
    @media (min-height: 400px) {
        @apply tw-max-h-[72vh];
    }
}

.other-cameras {
    @apply tw-bottom-32 sm:tw-bottom-48 md:tw-bottom-28 xl:tw-bottom-36 2xl:tw-bottom-48 tw-mb-2 tw-overflow-y-auto tw-overflow-x-hidden tw-h-fit tw-w-full;
}

.media-container {
    @apply tw-mt-2 tw-max-w-full tw-h-auto;

    &.hightlighted {
        @apply tw-pointer-events-auto tw-h-full;
        .nametag-webcam-container,
        .woka-webcam-container,
        .voice-meter-webcam-container,
        .report-ban-container,
        .nametag-screenshare-container,
        .report-ban-screenshare-container {
            @apply tw-h-full tw-w-full tw-bottom-0;
        }
    }

    &:hover {
        .report-ban-container,
        .report-ban-screenshare-container {
            @apply -tw-translate-x-1 tw-opacity-100;
        }

        .report-ban-container-cam-off {
            @apply -tw-translate-x-[1.37rem] tw-opacity-100 md:-tw-translate-x-4 xl:-tw-translate-x-5;
        }

        .voice-meter-cam-off {
            @apply -tw-translate-x-1;
        }
    }
}

.container-end {
    @apply tw-flex tw-flex-col tw-absolute tw-justify-end;
}

.video-on-responsive-height {
    @apply tw-h-full;
}

.video-container {
    display: flex;
    transition: all 0.2s ease;
    cursor: pointer;
    width: 100%;
    position: relative;

    &.no-clikable {
        video {
            cursor: pointer;
        }
    }
}

/* Spinner */
.connecting-spinner {
    display: flex;
    left: calc(50% - 62px);
    top: calc(50% - 62px);

    width: 3rem;
    height: 3rem;
    padding-top: 3rem;
}

.connecting-spinner:after {
    content: " ";
    display: block;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 6px solid theme("colors.light-blue");
    border-color: theme("colors.light-blue") transparent theme("colors.light-blue") transparent;
    animation: connecting-spinner 1.2s linear infinite;
}

@keyframes connecting-spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.rtc-error {
    left: calc(50% - 68px);
    top: calc(50% - 68px);

    width: 4rem;
    height: 4rem;
}

.rtc-error:after {
    content: " ";
    display: block;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 6px solid #f00;
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

/* VOICE METER */
.voice-meter-bar {
    @apply tw-rounded tw-flex tw-w-1 md:tw-w-0.5 lg:tw-w-1 tw-drop-shadow-lg tw-transition-transform;
}

/* NAMETAGS */
.nametag-text {
    @apply tw-font-semibold tw-text-xs tw-leading-[0.875rem] tw-not-italic tw-break-words;
}

.nametag-shape {
    @apply tw-rounded-tr-lg tw-rounded-bl tw-overflow-auto tw-max-w-full;
}

/* MY CAMERA */

.my-webcam-container,
.voice-meter-my-container {
    @apply tw-flex media-box-camera-on-size;
}

/* MOZAIC MODE */
.mozaic-full-width {
    @apply mozaic-full-size;

    .nametag-webcam-container,
    .woka-webcam-container,
    .voice-meter-webcam-container,
    .report-ban-container {
        @apply mozaic-full-size tw-bottom-0;
    }

    .video-container {
        @apply mozaic-full-size;
        &.video-off{
            @apply md:tw-h-[4vh];
        }
    }
}

.mozaic-duo,
.mozaic-quarter {
    @apply mozaic-duo-size;

    .nametag-webcam-container,
    .woka-webcam-container,
    .voice-meter-webcam-container,
    .report-ban-container {
        @apply mozaic-duo-size tw-bottom-0;
    }
}

.mozaic-full-size {
    @apply md:tw-h-[60vh] md:tw-w-[70vw];
    &.media-box-camera-off-size{
        @apply md:tw-h-[4vh];
    }
}

.mozaic-duo-size {
    @apply tw-h-[20vh] tw-w-[70vw] md:tw-h-[25vh] md:tw-w-[60vw] lg:tw-h-[30vh] lg:tw-w-[40vw];
}

.mozaic-grid {
    @apply tw-gap-1 lg:tw-gap-4 tw-grid-cols-1 lg:tw-grid-cols-2;
}



/*
///////////////////
// Loading.svelte //
////////////////////
*/
#loading {
    @apply tw-h-fit tw-flex tw-bg-warning tw-relative tw-rounded tw-py-2 tw-my-2;
    transition: all 0.2s ease;
    .wrapper {
        @apply tw-flex tw-flex-wrap tw-justify-items-center tw-items-center tw-justify-center tw-text-brand-blue tw-text-center tw-mx-auto;
        .svg {
            @apply tw-bg-contain tw-bg-no-repeat tw-bg-center tw-bg-brand-blue tw-w-7 tw-h-7 tw-ml-3;
            content: "";
        }
    }
}



/*
////////////////////
// UserTag.svelte //
////////////////////
*/
#tag {
    @apply tw-flex tw-rounded-sm tw-items-center tw-w-full tw-p-2 tw-h-fit;
    &.minimal {
        @apply tw-absolute tw-left-0 tw-bottom-0 tw-p-0 tw-pr-2 tw-pb-[1px] tw-items-end tw-w-fit tw-rounded-none tw-rounded-bl-sm tw-rounded-tr-lg;
        #name {
            @apply tw-ml-0.5 tw-text-xs tw-leading-[0.875rem] tw-px-0;
        }
        #woka {
            @apply tw--mt-3;
        }
    }
    #name {
        @apply tw-font-semibold tw-text-sm tw-not-italic tw-break-words tw-px-2 tw-overflow-y-auto tw-max-h-10 tw-flex;
    }
}



/*
//////////////////////////
// JitsiMediaBox.svelte //
//////////////////////////
*/
.jitsi-video{
    @apply tw-flex tw-w-full tw-border-warning tw-border-2 tw-border-solid tw-relative tw-rounded;
    transition: all 0.2s ease;

    video {
        object-fit: cover;
        &.object-contain {
            object-fit: contain;
        }
    }
}