//* GENERAL */
.media-box-camera-on-size {
    @apply h-32 w-56 sm:h-48 sm:w-80 md:h-28 md:w-48 lg:h-24 lg:w-44 xl:h-36 xl:w-64 2xl:h-48 2xl:w-96;
}

.media-box-camera-on-position {
    @apply absolute justify-end items-end;
}

.media-box-camera-off-size {
    @apply w-56 sm:w-80 md:w-48 lg:w-44 xl:w-64 2xl:w-96;
}

.media-box-shape-color {
    @apply p-0 bg-dark-blue/50 rounded;
}

.report-ban-container-cam-off {
    @apply items-center absolute justify-end;
}

.media-box-screensharing-size {
    @apply w-56 sm:w-80 md:w-48 lg:w-44 xl:w-64 2xl:w-96;
}

.scale-y-min {
    transform: scaleY(0.1);
}

.cameras-container{
    @apply max-h-full pointer-events-auto overflow-x-hidden overflow-y-auto flex z-[150] gap-5 self-end relative;
    //sm:max-h-[60vh]
}

.other-cameras {
    @apply bottom-32 sm:bottom-48 md:bottom-28 xl:bottom-36 2xl:bottom-48 mb-2 overflow-y-auto overflow-x-hidden h-fit;
    //lg:bottom-24
}

.media-container {
    @apply mt-2;

    &.hightlighted {
        @apply pointer-events-auto;
        .nametag-webcam-container,
        .woka-webcam-container,
        .voice-meter-webcam-container,
        .report-ban-container {
            @apply h-[32vw] md:w-[58vw] lg:w-[63vw] xl:w-[66vw] 2xl:w-[67vw];
        }

        .nametag-screenshare-container {
            @apply h-[41.25vw] w-[65vw];
        }

        .report-ban-screenshare-container {
            @apply h-[41vw] w-[60vw] lg:w-[63vw] xl:w-[66vw] 2xl:w-[70vw];
        }
    }

    &:hover {
        .report-ban-container,
        .report-ban-screenshare-container {
            @apply -translate-x-3 opacity-100 xl:-translate-x-10;
        }

        .report-ban-container-cam-off {
            @apply -translate-x-[1.37rem] opacity-100 md:-translate-x-4 xl:-translate-x-5;
        }

        .voice-meter-cam-off {
            @apply -translate-x-8 md:-translate-x-1 xl:-translate-x-8;
        }
    }
}

.container-end {
    @apply flex flex-col absolute justify-end;
}

.video-on-responsive-height {
    @apply h-32 sm:h-48 md:h-28 lg:h-24 xl:h-36 2xl:h-48;
}

.video-container {
    display: flex;
    transition: all 0.2s ease;
    cursor: pointer;
    width: 100%;

    &.no-clikable {
        video {
            cursor: pointer;
        }
    }
}

/* Spinner */
.connecting-spinner {
    display: flex;
    left: calc(50% - 62px);
    top: calc(50% - 62px);

    width: 3rem;
    height: 3rem;
    padding-top: 3rem;
}

.connecting-spinner:after {
    content: " ";
    display: block;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 6px solid theme("colors.light-blue");
    border-color: theme("colors.light-blue") transparent theme("colors.light-blue") transparent;
    animation: connecting-spinner 1.2s linear infinite;
}

@keyframes connecting-spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.rtc-error {
    left: calc(50% - 68px);
    top: calc(50% - 68px);

    width: 4rem;
    height: 4rem;
}

.rtc-error:after {
    content: " ";
    display: block;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 6px solid #f00;
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

//* VOICE METER */
.voice-meter-bar {
    @apply rounded flex w-1 md:w-0.5 lg:w-1 drop-shadow-lg transition-transform;
}

//* NAMETAGS */
.nametag-text {
    @apply font-semibold text-xs leading-[0.875rem] not-italic break-words;
}

.nametag-shape {
    @apply rounded-tr-lg rounded-bl overflow-auto max-w-full;
}

//* MY CAMERA */

.my-webcam-container,
.voice-meter-my-container {
    @apply flex media-box-camera-on-size;
}

/* MOZAIC MODE */

#mozaic-layout {
}

.mozaic-full-width {
    @apply mozaic-full-size;

    .nametag-webcam-container,
    .woka-webcam-container,
    .voice-meter-webcam-container,
    .report-ban-container {
        @apply mozaic-full-size;
    }

    .video-container {
        @apply mozaic-full-size;
        &.video-off{
            @apply md:h-[4vh];
        }
    }
}

.mozaic-duo,
.mozaic-quarter {
    @apply mozaic-duo-size;

    .nametag-webcam-container,
    .woka-webcam-container,
    .voice-meter-webcam-container,
    .report-ban-container {
        @apply mozaic-duo-size;
    }
}

.mozaic-full-size {
    @apply md:h-[60vh] md:w-[70vw];
    &.media-box-camera-off-size{
        @apply md:h-[4vh];
    }
}

.mozaic-duo-size {
    @apply h-[20vh] w-[70vw] md:h-[25vh] md:w-[60vw] lg:h-[30vh] lg:w-[40vw];
}

.mozaic-grid {
    @apply gap-1 lg:gap-4 grid-cols-1 lg:grid-cols-2;
}




////////////////////
// Loading.svelte //
////////////////////
#loading {
    @apply h-fit flex bg-warning relative rounded py-2 my-2;
    transition: all 0.2s ease;
    .wrapper {
        @apply flex flex-wrap justify-items-center items-center justify-center text-brand-blue text-center mx-auto;
        .svg {
            @apply bg-contain bg-no-repeat bg-center bg-brand-blue w-7 h-7 ml-3;
            content: "";
        }
    }
}




////////////////////
// UserTag.svelte //
////////////////////
#tag {
    @apply flex rounded-sm items-center w-full p-2 h-fit;
    &.minimal {
        @apply absolute left-0 bottom-0 p-0 pr-2 pb-[1px] items-end w-fit rounded-none rounded-bl-sm rounded-tr-lg;
        #name {
            @apply ml-0.5 text-xs leading-[0.875rem] px-0;
        }
        #woka {
            @apply -mt-3;
        }
    }
    #name {
        @apply font-semibold text-sm not-italic break-words px-2 overflow-y-auto max-h-10 flex;
    }
}




//////////////////////////
// JitsiMediaBox.svelte //
//////////////////////////
.jitsi-video{
    @apply flex w-full border-warning border-2 border-solid relative rounded;
    transition: all 0.2s ease;

    video {
        object-fit: contain;
    }
}