body.choose-map{

  .map-item{
    cursor: pointer;
    margin: 1rem 0.5rem;
    padding: 1rem;
    text-align: center;
    border: 3px transparent solid;

    &.active{
      border-color: #FFFFFF;
    }

    p{
      margin: 1em 0 0;
      font-size: larger;
    }
  }

  #wa-link{
    text-decoration: underline;
  }

  #url-copied{
    display: none;
    font-size: 20px;

    img{
      height: 20px;
      display: inline-block;
      margin-right: 10px;
    }
  }

  .copy-btn{
    font-family: "Karmatic Arcade";
    font-size: 30px;
    border: 4px solid #ffffff;
    width: auto;
    box-shadow: 4px 4px white;
    padding: 1rem;
    background: #000000;
    color: white;
    margin-right: 10px;
    &:focus{
      outline: none;
    }

    small{
      font-size: 16px;
    }
  }

  .start-area{
    img{
      min-height: 70px;
    }

    #start-btn{
      background-color: transparent;
      border: none;
      color: #ffffff;
      border-bottom: 8px solid white;
      animation: blinker 1s alternate infinite;
      font-size: 50px;
    }

    @keyframes blinker {
      50% {
        opacity: 0;
      }
    }
  }
}