.env
.idea
.vagrant
Vagrantfile
docker-compose.override.yaml
*.DS_Store
maps/yarn.lock
maps/dist/computer.js
maps/dist/computer.js.map
node_modules
_
*.code-workspace
/install.lock
/synapse/media_store/
/synapse/homeserver.db
/synapse/homeserver.db-shm
/synapse/homeserver.db-wal
/synapse/matrix.workadventure.localhost.signing.key
/synapse/matrix.workadventure.localhost.log.config
