@import "@fontsource/press-start-2p/index.css";
@import "@16bits/nes.css/css/nes.min.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@300;400;500;700;900&display=swap');


// *{
//   font-family: PixelFont-7,monospace;
// }


$font:  'Roboto', sans-serif;
$font-condensed: 'Roboto Condensed', sans-serif;

html{
  scroll-behavior: smooth;
}

.nes-btn {
  font-family: "Press Start 2P";
}

button:focus,
button:focus-visible,
select:focus,
select:focus-visible,
textarea:focus,
textarea:focus-visible,
input:focus,
input:focus-visible{
  outline: none;
}
