@use "../style/breakpoints.scss" as bpchat;

#chat-aside{
  left: 0;
  top: 0;
  width: 28vw;
  height: 100vh;
  display: flex;
  transform: translateX(-100%);
  position: fixed;
  z-index: 820;
  transition: transform 0.5s;
  background-color: rgba(10, 9, 9, 0.8);
}

#chat-aside.opened{
  visibility: visible;
  transform: translateX(0);
}

//@import "fonts";
//@import "tailwind";
@import '@workadventure/tailwind/style/index.scss';

@include bpchat.media-breakpoint-up(sm) {
    .chatWindow {
        width: 100% !important;
    }
}

::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-track {
    background: none;
}
::-webkit-scrollbar-thumb {
    @apply bg-lighter-purple;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:active {
    @apply bg-light-blue;
}

.emoji-picker__overlay{
    background: none!important;
}
.emoji-picker__wrapper{
    bottom: 50px!important;
    top: auto!important;
    .emoji-picker{
        border: none!important;
    }
}

.selected {
    .wa-message{
        &::after{
            @apply animate-ping;
        }
    }
}

.chatWindow nav{
    @apply bg-dark-purple p-1 mx-3 mb-1 rounded-2xl border-solid border border-light-purple relative;
    width: calc( 100% - 65px );
}
.chatWindow nav .background{
    @apply rounded-xl transition-transform transform bg-light-blue absolute;
    height: 26px;
    width: 48.5%;
}
.chatWindow nav .background.chat{
    @apply translate-x-full;
}
.chatWindow nav .background.hidden{
    //@apply hidden;
    display: none;
}
.chatWindow nav ul{
    @apply flex list-none justify-between w-full p-0 m-0;
}
.chatWindow nav ul li{
    @apply text-center rounded font-bold transition-transform transform cursor-pointer rounded-2xl;
    padding: 1px 0;
    width: 48.5%;
}
.chatWindow nav ul li:not(.active):hover{
    background-color: rgba(146, 142, 187, .3);
}

.chatWindow nav ul li.active{
    @apply text-black cursor-default;
}

.chatWindow {
    color: white;
    position: absolute;
    top: 0;
    min-width: 335px;
    width: 335px;
    pointer-events: auto;
    height: 100dvh;
    z-index: 2000;
    .close-window {
        cursor: pointer;
    }
}

.server-icon.sync:after {
    content: "";
    @apply absolute top-0 right-0 w-3 h-3 bg-green-500 rounded-full;
}


.response .message-bubble p:last-of-type {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
.message-bubble *:first-child {
    margin-top: 0;
}
.message-bubble *:last-child {
    margin-bottom: 0;
}
.message-bubble a {
    text-decoration: underline;
    opacity: 0.75;
}
pre {
    margin: 0;
}
.message-bubble pre code {
    display: block;
    background-color: #303030;
}
.message-bubble code {
    width: 100%;
    padding: 0.25em 0.5em;
    border-radius: 8px;
    overflow-x: auto;
    padding: 0.2em 0.5em;
}
::-webkit-scrollbar {
    width: 2px;
    height: 6px;
}

/* Track */
/* Track */
::-webkit-scrollbar-track {
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 3px;
}
