@charset "UTF-8";
@import "breakpoints";
@import "cowebsite.scss";
@import "style";
@import "chat.scss";
@import "@workadventure/tailwind/style/index.scss";
@import "wa-theme/action-menu-bar.scss";
@import "wa-theme/pop-up.scss";
@import "audio-range";
@import "map-editor";
@import "loader";
@import "input";