/*
////////////////////////
// ButtonState.svelte //
////////////////////////
*/
button.button-state {
  transition: all 0.2s ease-in-out;
  @apply mx-auto;
  &:disabled {
    @apply cursor-default;
    &:hover {
      filter: initial;
    }
  }
  &.success {
    @apply bg-pop-green text-white;
  }
  &.error {
    @apply bg-pop-red text-white;
  }
}

.input-select {
  @apply mb-2;
  label {
    @apply font-medium mb-1.5;
  }

  select {
    @apply w-full bg-white text-brand-blue border-lighter-purple border-solid m-0;
    &.error {
      @apply border-pop-red;
    }
  }
  span {
    @apply text-xs text-pop-red;
  }
}

/*
//////////////////////
// InputTags.svelte //
//////////////////////
*/
.input-tags {
  @apply mb-2;
  label {
    @apply font-medium mb-1.5;
  }
  span.error {
    @apply text-xs text-pop-red;
  }
  .svelte-select .value-container input {
    @apply border-0 outline-0 ring-0 rounded-none;
    color: rgb(20 48 76 / var(--text-opacity)) !important;
  }
  .svelte-select .svelte-select-list, .value-container .multi-item :is(.multi-item-clear, .multi-item-text), .svelte-select .indicators svg {
    @apply text-brand-blue;
  }
}

:global(.svelte-select) {
  border-radius: 8px !important;
  padding-left: 0.75rem !important;
  border-color: rgb(146, 142, 187) !important;
  transition: all ease-in-out 150ms !important;
}
:global(.svelte-select.focused) {
  @apply outline outline-lighter-purple;
}
:global(.svelte-select .value-container) {
  padding: 0 5px !important;
}

/*
//////////////////////
// InputText.svelte //
//////////////////////
*/
.input-text {
  @apply mb-2;
  label {
    @apply font-medium mb-1.5;
  }

  input {
    @apply w-full bg-white text-brand-blue border-lighter-purple border-solid m-0;
    border-width: 1px !important;
    &.error {
      @apply border-pop-red;
    }
  }
  span {
    @apply text-xs text-pop-red;
  }
}