.warning-toast {
  @apply tw-rounded tw-px-2 tw-py-1 tw-z-10;
  position: absolute;
  top: 1%;
  max-height: clamp(150px, 10vh, 15vh); /*replace @media for small screen*/
  width: fit-content;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;

  display: grid;
  grid-template-rows: 50% 50%;
  text-align: center;
  pointer-events: auto;


  /* TODO : delete after systemUI import */
  border-color: rgb(77 75 103 / var(--tw-border-opacity));
  background-color: rgb(39 39 54 / 0.8);
  --tw-backdrop-blur: blur(4px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}