apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "workadventure.fullname" . }}-play
  labels:
    {{- include "workadventure.labels" . | nindent 4 }}
    role: play
spec:
  {{- if not .Values.play.autoscaling.enabled }}
  replicas: {{ .Values.play.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "workadventure.selectorLabels" . | nindent 6 }}
      role: play
  template:
    metadata:
      annotations:
        checksum/config: {{ (include (print $.Template.BasePath "/play-env.yaml") .) | sha256sum }}
        checksum/secret: {{ (include (print $.Template.BasePath "/play-secret-env.yaml") .) | sha256sum }}
        checksum/shared-secret: {{ (include (print $.Template.BasePath "/shared-secret-env.yaml") .) | sha256sum }}
        {{- if .Values.forceRedeploy }}
        forceRedeploy: {{ randAlphaNum 10 | quote }}
        {{- end }}
        {{- with .Values.play.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      labels:
        {{- include "workadventure.selectorLabels" . | nindent 8 }}
        role: play
    spec:
      {{- if or .Values.imageCredentials.enabled .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- if .Values.imageCredentials.enabled }}
        - name: {{ include "workadventure.fullname" . }}-pull-secret
        {{- end }}
      {{- with .Values.imagePullSecrets }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- end }}
      serviceAccountName: {{ include "workadventure.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.play.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}-play
          securityContext:
            {{- toYaml .Values.play.securityContext | nindent 12 }}
          image: "{{ .Values.play.image.repository }}:{{ .Values.play.image.tag | default .Values.appVersion }}"
          imagePullPolicy: {{ .Values.play.image.pullPolicy }}
          envFrom:
            - configMapRef:
                name: {{ include "workadventure.fullname" . }}-env-play
            - secretRef:
                name: {{ include "workadventure.fullname" . }}-secret-env-play
            {{- if .Values.play.externalConfigMapName }}
            - configMapRef:
                name: {{ .Values.play.externalConfigMapName }}
            {{- end }}
            {{- if .Values.play.externalSecretName }}
            - secretRef:
                name: {{ .Values.play.externalSecretName }}
            {{- end }}
          env:
            - name: SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ include "workadventure.fullname" . }}-secret-env-shared
                  key: SECRET_KEY
            - name: MAP_STORAGE_API_TOKEN
              valueFrom:
                secretKeyRef:
                  name: {{ include "workadventure.fullname" . }}-secret-env-shared
                  key: MAP_STORAGE_API_TOKEN
            {{- if .Values.play.extraEnvVars }}
            {{- include "common.tplvalues.render" (dict "value" .Values.play.extraEnvVars "context" $) | nindent 12 }}
            {{- end }}
          ports:
            - name: http
              containerPort: {{ .Values.play.service.port }}
              protocol: TCP
            - name: grpc
              containerPort: 50051
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /
              port: http
          readinessProbe:
            httpGet:
              path: /ping
              port: http
          resources:
            {{- toYaml .Values.play.resources | nindent 12 }}
          {{- with .Values.play.extraVolumeMounts }}
          volumeMounts:
            {{- include "common.tplvalues.render" (dict "value" . "context" $) | nindent 12 }}
          {{- end }}
      {{- with .Values.play.extraVolumes }}
      volumes:
        {{- include "common.tplvalues.render" (dict "value" . "context" $) | nindent 8 }}
      {{- end }}
      {{- with .Values.play.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.play.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.play.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
