@import "@fontsource/press-start-2p/index.css";
@import "@16bits/nes.css/css/nes.min.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,700;1,300;1,400&family=Roboto:wght@300;400;500;700;900&display=swap');


// *{
//   font-family: PixelFont-7,monospace;
// }


$font:  'Roboto', sans-serif;
$font-condensed: 'Roboto Condensed', sans-serif;

.nes-btn {
  font-family: "Press Start 2P";
}