@import "~@fontsource/press-start-2p/index.css";

.nes-btn {
  font-family: "Press Start 2P";
}

@font-face {
  font-family: CiscoSans;
  src: url("./fonts/CiscoSansTTLight.woff2");
       url("./fonts/CiscoSansTTRegular.woff2");
       url("./fonts/momentum-ui-icons.woff2");
}
