@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1, h2, h3, h4, h5, h6, p, span {
    @apply tw-font-sans
  }
}

@layer components {

  //Menus - Main one uses theses classes
  .menu-container {
    pointer-events: auto;
    z-index: 900;
    @apply tw-h-3/4 tw-w-full md:tw-w-4/5 tw-absolute tw-top-14 tw-mx-auto tw-flex tw-text-white;

    .menu-nav-sidebar {
      @apply tw-bg-dark-purple/95 tw-rounded tw-overflow-auto tw-w-1/5;
    }

    .menu-submenu-container {
      border-left: 1px solid theme('colors.light-purple');
      @apply tw-p-3 tw-w-4/5 tw-overflow-auto;
    }

    .menu-item-container {
      @apply tw-flex tw-flex-row tw-items-center tw-justify-between tw-py-0 tw-px-3;
    }

    .menu-item {
      @apply tw-bg-transparent tw-h-12 tw-font-sans tw-font-bold tw-text-base tw-items-center tw-pl-4;
    }

    .menu-item-container:hover, .active {
      @apply tw-bg-light-purple;

      .menu-icon {
        filter: brightness(1.5);
      }
    }
  }

  .menu-icon {
    @apply tw-h-3 tw-p-0.5;
  }

  //Buttons - basic buttons appearance
  button, .btn {
    @apply tw-border-none tw-rounded tw-h-10 tw-px-4 tw-py-1;
  }

  .btn:hover, button:hover {
    filter: brightness(1.25);
  }
}

@layer utilities {
  input[type='text'],
  input[type='password'],
  input[type='email'],
  input[type='number'],
  input[type='url'],
  input[type='date'],
  input[type='datetime-local'],
  input[type='month'],
  input[type='week'],
  input[type='time'],
  input[type='search'],
  input[type='tel'],
  select,
  textarea {
    @apply tw-bg-dark-blue tw-text-white tw-border-light-purple tw-rounded-lg focus:tw-border-lighter-purple focus:tw-ring-lighter-purple;
    @apply placeholder:tw-text-lighter-purple;
  }

  input[type="checkbox"],
  input[type="radio"] {
    @apply tw-border-light-purple tw-text-light-purple focus:tw-border-lighter-purple focus:tw-ring-lighter-purple;
  }

  input[type="checkbox"] {
    @apply tw-rounded;
  }

  .small-blue-title {
    @apply tw-text-light-blue tw-font-sans tw-text-sm tw-font-normal;
  }

  button, .btn {
    &.light {
      @apply tw-bg-light-blue tw-text-dark-purple;
    }

    &.dark {
      @apply tw-bg-dark-purple tw-text-light-blue;
    }

    &.outline {
      @apply tw-bg-transparent tw-text-light-blue tw-border-1 tw-border-light-blue;
    }

    &.close {
      @apply tw-bg-dark-purple tw-text-light-blue tw-ring-1 tw-ring-light-purple tw-absolute tw-right-5 tw-px-0 tw-py-0 tw-h-6 tw-w-6;
    }
  }
}
