//@import "fonts";
//@import "tailwind";
@import '@workadventure/tailwind/style/index.scss';

::-webkit-scrollbar {
    width: 1px;
}
::-webkit-scrollbar-track {
    @apply bg-none;
}
::-webkit-scrollbar-thumb {
    @apply bg-white;
}
::-webkit-scrollbar-thumb:active {
    @apply bg-light-blue;
}

.emoji-picker__overlay{
    background: none!important;
}
.emoji-picker__wrapper{
    bottom: 0;
    top: auto!important;
    z-index: 1000;
    .emoji-picker{
        border: none!important;
    }
}

.wa-message{
    .actions{
        .action{
            .caption{
                @apply absolute bg-contrast px-2 py-1 rounded-xl;
                display: none;
                top: -32px;
                left: 50%;
                transform: translateX(-50%);
                z-index: 10;
                &::before{
                    @apply absolute border-t-contrast;
                    left: calc( 50% - 10px );
                    top: 100.5%;
                    content: '';
                    width: 0;
                    height: 0;
                    border-left: 9px solid transparent;
                    border-right: 9px solid transparent;
                    border-top-width: 6px;
                    border-top-style: solid;
                }
                &::after{
                    @apply absolute border-t-contrast;
                    margin-left: -50%;
                    top: 100%;
                    content: '';
                    width: 0;
                    height: 0;
                    border-left: 7px solid transparent;
                    border-right: 7px solid transparent;
                    border-top-width: 5px;
                    border-top-style: solid;
                }
            }
            &:hover{
                opacity: 1;
                .caption{
                    display: block;
                }
            }
        }
    }
    &:hover{
        .actions{
            visibility: visible;
        }
    }
}
.wa-message-body{
    p{
        @apply whitespace-pre-line;
        margin: 0;
        .mention{
            margin: 0 2px;
            padding: 0px 4px;
            background-color: black;
            border-radius: 0.5rem;
            cursor: pointer;
        }
    }

    .file {
        @apply mt-1;
        position: relative;
        &:hover {
            .actions {
                display: flex;
            }
        }

        .actions {
            display: none;
            position: absolute;
            top: 0px;
            padding: 0px;
            cursor: pointer;
            flex-direction: column;
            border-radius: 0.25rem;
            border-width: 1px;
            border-style: solid;
            --border-opacity: 1;
            border-color: rgb(77 75 103 / var(--border-opacity));
            background-color: rgb(27 27 41 / 0.95);
            font-size: 0.75rem;
            line-height: 1rem;
            font-weight: 500;
            color: rgb(255 255 255 / var(--text-opacity));
            --shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
            --shadow-colored: 0 10px 15px -3px var(--shadow-color), 0 4px 6px -4px var(--shadow-color);
            box-shadow: var(--ring-offset-shadow, 0 0 #0000), var(--ring-shadow, 0 0 #0000), var(--shadow);
            z-index: 1;

            .action {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 4px;
                border-radius: 0.15rem;

                & > span {
                    display: none;
                }

                &:hover {
                    --bg-opacity: 1;
                    background-color: rgb(77 75 103 / var(--bg-opacity));
                }
            }
        }

        .other-content {
            @apply p-0.5 cursor-pointer rounded mr-0.5;
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            --bg-opacity: 1;
            border: solid 1px rgb(77 75 103 / var(--bg-opacity));
            &:hover {
                background-color: rgb(77 75 103 / var(--bg-opacity));
            }
            .icon{
            }
        }

        audio {
            max-width: 100%;
        }
    }
}

.selected {
    .wa-message{
        &::after{
            @apply animate-ping;
        }
    }
}


aside.chatWindow nav .background{
    @apply rounded-xl transition-transform transform bg-light-blue absolute;
    height: 26px;
    width: 48.5%;
}
aside.chatWindow nav .background.chat{
    @apply translate-x-full;
}
aside.chatWindow nav ul{
    @apply flex list-none justify-between w-full p-0 m-0;
}

div.emoji-picker {
    @apply bg-contrast/80 backdrop-blur rounded-lg border-none pointer-events-auto;
    input.emoji-picker__search {
        border-radius: 1em;
    }
    .emoji-picker__content {
        @apply pb-0 px-0;
    }
    button.emoji-picker__category-button {
        @apply relative z-10;
        &:not(.active) {
            @apply opacity-50 transition-all;
            &:hover {
                @apply opacity-100;
            }
        }
        &.active {

        }
    }
    .emoji-picker__emoji {
        @apply transition-all rounded;
        &:focus, &:hover {
            @apply bg-white/10;
        }
    }
    .emoji-picker__emojis {
        h2.emoji-picker__category-name {
            @apply text-xs uppercase text-white/50 pl-3 font-normal first:mt-3;
        }
    }
    .emoji-picker__search-container {
        @apply flex items-center;
        .emoji-picker__search {
            @apply pl-4 bg-white/10 border-none placeholder:text-white/50;
        }
        .emoji-picker__search-icon {
            @apply static px-3 opacity-20;
        }
    }
    .emoji-picker__category-buttons {
        @apply m-0 relative after:content-[''] after:absolute after:bottom-0 after:left-0 after:w-full after:h-[1px] after:bg-white/20;
    }
}