//@import "fonts";
//@import "tailwind";
@import '@workadventure/tailwind/style/index.scss';

::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-track {
    background-color: rgba(27, 27, 41, 0.95);
}
::-webkit-scrollbar-thumb {
    @apply tw-bg-light-purple;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    @apply tw-bg-lighter-purple;
}

.emoji-picker__overlay{
    background: none!important;
}
.emoji-picker__wrapper{
    bottom: 50px!important;
    top: auto!important;
    .emoji-picker{
        border: none!important;
    }
}

.wa-message-body{
    @apply tw-rounded-lg tw-bg-dark tw-text-xs tw-px-3 tw-py-2 tw-text-left;
    p{
        margin: 0;
        .mention{
            margin: 0 2px;
            padding: 0px 4px;
            background-color: black;
            border-radius: 0.5rem;
            cursor: pointer;
        }
    }
}

.selected {
    .wa-message{
        &::after{
            @apply tw-animate-ping;
        }
    }
}
