name: Build multi-arch image

on:
  workflow_call:
    inputs:
      ghcr-dev-build-image-name:
        required: true
        type: string
      ghcr-image-name:
        required: true
        type: string
      dockerio-image-name:
        required: true
        type: string
      # If true, the build will contain the arm64 image AND we will push to GHCR and DockerHub
      final_build:
        required: false
        type: boolean
        default: false
      push-to-registry:
        required: true
        type: boolean
      dockerfile:
        required: true
        type: string
      context:
        required: true
        type: string
      sentry_project:
        required: false
        type: string
        default: ""

jobs:
  build-amd-image:
    uses: ./.github/workflows/build-single-image.yml
    secrets: inherit
    with:
      os: ubuntu-24.04
      platform: amd64
      image-name: ${{ inputs.ghcr-dev-build-image-name }}
      dockerfile: ${{ inputs.dockerfile }}
      context: ${{ inputs.context }}
      sentry_project: ${{ inputs.sentry_project }}
      push-to-registry: ${{ inputs.push-to-registry }}

  build-arm-image:
    uses: ./.github/workflows/build-single-image.yml
    if: ${{ inputs.final_build == true }}
    secrets: inherit
    with:
      os: ubuntu-24.04-arm
      platform: arm64
      image-name: ${{ inputs.ghcr-dev-build-image-name }}
      dockerfile: ${{ inputs.dockerfile }}
      context: ${{ inputs.context }}
      sentry_project: ${{ inputs.sentry_project }}
      push-to-registry: ${{ inputs.push-to-registry }}

  merge-image:
    runs-on: ubuntu-latest
    needs:
      - build-amd-image
      - build-arm-image
    if: ${{ inputs.final_build == true }}
    steps:
      - name: Login to DockerHub
        uses: docker/login-action@v3
        if: ${{ github.event_name == 'push' || github.event_name == 'release' || (github.event_name == 'pull_request' && github.event.pull_request.head.repo.full_name == github.repository && github.actor != 'dependabot[bot]') }}
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - uses: rlespinasse/github-slug-action@4.2.3

      - name: Create and push manifest
        run: |
          docker manifest create ${{ inputs.ghcr-dev-build-image-name }}:${{ github.event_name == 'pull_request' && env.GITHUB_HEAD_REF_SLUG || env.GITHUB_REF_SLUG }} \
            ${{ inputs.ghcr-dev-build-image-name }}:amd64-${{ github.sha }} \
            ${{ inputs.ghcr-dev-build-image-name }}:arm64-${{ github.sha }}
          docker manifest push ${{ inputs.ghcr-dev-build-image-name }}:${{ github.event_name == 'pull_request' && env.GITHUB_HEAD_REF_SLUG || env.GITHUB_REF_SLUG }}

      - name: Install regctl
        uses: regclient/actions/regctl-installer@main
        with:
          release: "v0.8.1"

      # Copy the image to GHCR
      - name: Copy image to GHCR
        run: |
          regctl image copy ${{ inputs.ghcr-dev-build-image-name }}:${{ github.event_name == 'pull_request' && env.GITHUB_HEAD_REF_SLUG || env.GITHUB_REF_SLUG }} ${{ inputs.ghcr-image-name }}:${{ github.event_name == 'pull_request' && env.GITHUB_HEAD_REF_SLUG || env.GITHUB_REF_SLUG }}

      # Copy the image to DockerHub
      - name: Copy image to DockerHub
        run: |
          regctl image copy ${{ inputs.ghcr-dev-build-image-name }}:${{ github.event_name == 'pull_request' && env.GITHUB_HEAD_REF_SLUG || env.GITHUB_REF_SLUG }} ${{ inputs.dockerio-image-name }}:${{ github.event_name == 'pull_request' && env.GITHUB_HEAD_REF_SLUG || env.GITHUB_REF_SLUG }}

      - name: Special tag for master branch
        if: ${{ github.ref == 'refs/heads/master' }}
        run: |
          regctl image copy ${{ inputs.ghcr-dev-build-image-name }}:${{ github.event_name == 'pull_request' && env.GITHUB_HEAD_REF_SLUG || env.GITHUB_REF_SLUG }} ${{ inputs.dockerio-image-name }}:master-${{ github.sha }}
          regctl image copy ${{ inputs.ghcr-dev-build-image-name }}:${{ github.event_name == 'pull_request' && env.GITHUB_HEAD_REF_SLUG || env.GITHUB_REF_SLUG }} ${{ inputs.ghcr-image-name }}:master-${{ github.sha }}
