name: Push @workadventure/iframe-api-typings to NPM
on:
  release:
    types: [created]
  push:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event_name }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      # Setup .npmrc file to publish to npm
      - uses: actions/setup-node@v2
        with:
          node-version: "18.x"
          registry-url: "https://registry.npmjs.org"

      - name: Replace version number
        run: 'sed -i "s#VERSION_PLACEHOLDER#${{ github.ref_name }}#g" package.json'
        working-directory: "play/packages/iframe-api-typings"

      - name: Debug package.json
        run: cat package.json
        working-directory: "play/packages/iframe-api-typings"

      - name: Install Protoc
        uses: arduino/setup-protoc@v1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          version: "3.x"

      - name: "Install dependencies"
        run: npm ci #--workspace=workadventure-play

      - name: "Install messages dependencies"
        run: npm ci
        working-directory: "messages"

      - name: "Build proto messages"
        run: npm run ts-proto
        working-directory: "messages"

      - name: "Generate i18n files"
        run: npm run typesafe-i18n
        working-directory: "play"

      - name: "Build"
        run: npm run build-typings
        env:
          PUSHER_URL: "//localhost:3000"
          ADMIN_URL: "//localhost:80"
        working-directory: "play"

      #      - name: Install dependencies in package
      #        run: npm ci
      #        working-directory: "play/packages/iframe-api-typings"
      #        if: ${{ github.event_name == 'release' }}

      - name: Publish package
        run: npm publish
        working-directory: "play/packages/iframe-api-typings"
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        if: ${{ github.event_name == 'release' }}
